@using System.Globalization
@{
    ViewData["Title"] = "Demo localization";
}

<div>Current culture : @(CultureInfo.CurrentUICulture.ToString())</div>
<div>Shared localizer : "@SL["HelloWorld"]"</div>
<div>View localizer : "@Localizer["PageLocalization"]" </div> 
